.wrap{
    width: 100%;
    height: 50px;
    background-color: #1b2327;
}
body{
    background-color: #e9eaed;
}
.wrap header{
    width: 1147px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;;
}
.wrap header .header_left{
    color: white;
    font-size: 20px;
}
.wrap .header_con{
    display: flex;
}
.wrap .header_con li:nth-of-type(1){
    margin-left: 75px;
}
.wrap .header_con li a{
    margin-left: 36px;
    color: white;
    font-size: 14px;
}
.wrap .header_con li a:hover{
    color: #5073d9;
    font-weight: bold;
}
.wrap header .header_right{
    font-size: 19px;
    margin-left: 260px;
}
.wrap header .header_right .icon-sousuo{
    color: white;;
    font-size: 19px;
}
nav{
    width: 1110px;
    height: 350px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fff;
}
nav .nav_blue{
    width: 1110px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
nav .nav_blue .nav_left .nav_one{
    position: relative;
}
nav .nav_blue .nav_left{
    display:flex;
}
nav .nav_blue .nav_left .nav_one .src{
    width: 97px;
    height: 96px;
    border-radius: 50%;
    border: 1px solid #42b1f8;
    margin-left: 39px;
    margin-top: 36px;
    
}
nav .nav_blue .nav_left .nav_one .vone{
    padding: 5px 8px;
    background-color: #f9ae2c;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 103px;
    left: 110px;
  
}
nav .nav_blue .nav_left .nav_two{
    margin-left: 10px;
}
nav .nav_blue .nav_left .nav_two h3{
    margin-top: 51px;
    font-weight: bold;
    font-size: 16px;
}
nav .nav_blue .nav_left .nav_two .eigtht{
    font-size: 14px;
}
nav .nav_blue .nav_left .nav_two .gp{
    font-size: 14px;
}
.box{
    position: relative;
    margin-left: 48px;
    margin-top: -80px;
}
.box h3{
    display: inline-block;
}
.box img{
    display: inline-block;
    margin-top: -5px;
}
.box h3::after{
   content: "";
   position: absolute;
   top: 30px;
   left:3px;
   width: 122px;
   border: 1px dashed black;
}
.cyan{
    width: 1030px;
    height: 80px;
    margin-left: 48px;
    margin-top: 21PX;
    font-size: 13px;
    letter-spacing: 1px;
}
.button{
    width: 93px;
    height: 29px;
    border-radius: 2px;
    margin-left: 1000px;
    color: white;;
    background-color: black;
}
.book{
    width:1110px ;
    height: 570px;
    margin:0 auto;
    margin-top:45px ;
    background-color: #fff;
   
}
.book .box_one{
    width: 1110px;
    margin-top: 18px;
    margin-left: 47px;
}
.book .box_one .box_two{
    width: 205px;
    height:209px;
    padding: 18px 18px 13px 18px;
    background-color: #f3f3f3;
}
.book .box_one .box_two img{
    width: 205px;
    height: 111px;
}
.book .box_one .box_two h3{
    margin-top: 13px;
    font-weight: bold;
}
.book .box_one .box_two .quir{
    margin-top: 10px;

}